<nav class="nav">
    <ul class="left-nav">
        <li><a href="/">Home</a></li>
        <% if(signin) { %> 
        <li><a href="/createPost"> Add Post</a></li>
        <li><a href="/posts">Posts</a></li>
        <% } else { %> 
        <li><a href=""> About</a></li>
        <% }%> 
    </ul>
    <ul class="right-nav">
        <% if(signin) { %> 
        <li><a href="/signout"> Signout</a></li>
        <% } else { %> 
        <li><a href="/"> Signup</a></li>
        <li><a href="/signin">Signin</a></li>
        <% }%> 
    </ul>
</nav>